h1 {
    color: red;
}

#heading-2{
    color:blue;
}

.heading{
    color:rgb(165, 161, 42);
}

.para{
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

.navbar{
    border: 3px;
    border-style:solid;
    border-color: rgba(16, 1, 1, 0.933);
    padding: 15px;
    background-color: rgb(217, 5, 5);
    text-align: center;
}

.navbar a{
    color: rgb(5, 1, 16);
    padding: 15px;
    text-decoration-line: none;
}

.navbar a:hover{
    background-color:green;
    color:white;
}

body{
    margin: 0px;
}